html {
  display: flex;
  height:100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background: #222;
}

body::before, body::after {
  font-weight: bold;
  font-family: 'SF Mono', 'Courier New', Courier, monospace;
  font-size: 42px;
  color: #ff4473;
}

head { 
  display: block;
  background-image:  url(LOGO.png);
  height:20rem;
  width:20rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 10px;
  border-style: dashed;
}


.hidden-link {
    display: none; /* Verstecke den Link */
}

p {
    position: relative; /* Setze den Positionstyp auf relative für das übergeordnete `p` Element */
}

p:hover .hidden-link {
    display: block; /* Zeige den Link an, wenn das übergeordnete `p` Element gehovered wird */
}

img {
    width: 100%; /* Setze die Breite auf 100% */
    height: auto; /* Lass die Höhe automatisch anpassen */
}

body::before {
  display: inline-block;
  padding-top: 3rem;
  content: "Just Click...";
}

body::after {
  margin-left: 16px;
  display: inline;
  content: "i";
  background: #ff4473;
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hidden-link {
    display: none;
}